<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/heads.html') %>
    <link rel="STYLESHEET" type="text/css" href="/css/ColeccionFutbol.css">
    <title>Fútbol</title>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    
    <div class="container">
        <div class="row row-cols-4">
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[0].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[0].Nombre  %></h5>
                      <p class="card-text">El crack brasileño es considerado uno de los cinco mejores jugadores en la actualidad.</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[1].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[1].Nombre  %></h5>
                      <p class="card-text">Some .</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[2].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[2].Nombre  %></h5>
                      <p class="card-text">Some .</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[3].imagen  %>  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[3].Nombre  %></h5>
                      <p class="card-text">Simplemente D10S.</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                    <img src=<%=dataCromos[4].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[4].Nombre  %></h5>
                      <p class="card-text">Some .</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                    <img src=<%=dataCromos[5].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[5].Nombre  %></h5>
                      <p class="card-text">Some </p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                </div>
           </div>
           <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[6].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[6].Nombre  %></h5>
                        <p class="card-text">Some quick example .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[7].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[7].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[8].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[8].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[9].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[9].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[10].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[10].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[11].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[11].Nombre  %></h5>
                        <p class="card-text">Some t.</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[12].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[12].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[13].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[13].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[14].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[14].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[15].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[15].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>