<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/heads.html') %>
    <link rel="STYLESHEET" type="text/css" href="/css/ColeccionAnimales.css">
    <title>Animales</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" id="navbar-Inicio">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Kiosco-Inicio"><i class="fas fa-home"></i>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-envelope"></i>Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto" id="navbar-Registrarse">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-user-alt"></i> <%= datos[0].nombreUsuario %> </a>
                    </li>
                    
                </ul>
    
                
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row row-cols-4">
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[0].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[0].Nombre  %></h5>
                      <p class="card-text">The Black Mamba.</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[1].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[1].Nombre  %></h5>
                      <p class="card-text">The Goat.</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[2].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[2].Nombre  %></h5>
                      <p class="card-text">.</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <img src=<%=dataCromos[3].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[3].Nombre  %></h5>
                      <p class="card-text">Simplemente D10S.</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                    <img src=<%=dataCromos[4].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[4].Nombre  %></h5>
                      <p class="card-text">Some .</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                    <img src=<%=dataCromos[5].imagen  %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=dataCromos[5].Nombre  %></h5>
                      <p class="card-text">Some .</p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Ver cromo</a>
                    </div>
                </div>
           </div>
           <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[6].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[6].Nombre  %></h5>
                        <p class="card-text">Some quick example .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[7].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[7].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[8].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[8].Nombre  %></h5>
                        <p class="card-text">Some </p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[9].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[9].Nombre  %></h5>
                        <p class="card-text">Some </p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[10].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[10].Nombre  %></h5>
                        <p class="card-text">Some q.</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 22rem; margin-top: 20px;">
                        <img src=<%=dataCromos[11].imagen  %> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%=dataCromos[11].Nombre  %></h5>
                        <p class="card-text">Some .</p>
                        </div>
                        <div class="card-body">
                        <a href="#" class="card-link">Ver cromo</a>
                        </div>
                </div>
            </div>
            
        </div>
        
    </div>
</body>
</html>